.App {
  text-align: center;
}

#LandingLogo {
  display: flex;
  justify-content: center;

}

/* ------------------------- DASHBOARD ------------------------- */

.dash-header {
  display: flex;
  justify-content: center;
}

.dash-header h1{
  font-style: italic;
  font-size: 3em;
}

/* .dash-seg-div {
  display: flex;
  justify-content: center;
} */

.dash-h1 {
  font-size: 70px;
}

#dash-div-head-container {
margin: 3em 0 3em 0;
}


/* ------------------------- FORMS ------------------------- */

#login-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em;
  text-transform: capitalize;
}

#signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em;

}

.login-header {
  display: flex;
  justify-content: center;
}

.signup-header {
  display: flex;
  justify-content: center;
}

#login-divider {
  display: flex;
  justify-content: center;
}





/* ------------------------- CATEGORY ------------------------- */



#category-container {
  display: flex;
  flex-direction: column;
  margin: 0 20em 0 20em; 
}

#category-container h1 {
  text-align: center;
  margin: 1em 0 1em 0;
  font-style: italic;
  font-size: 3em;
}

#catform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#catform-container form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 50%;
  font-weight: bold;
}

#catform-container form input {
  margin-bottom: 1em;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 3px;
};

#catform-container form select {
  margin-bottom: 1em;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 3px;
};


#catform-container #submit {
  margin-top: 1em;
}

.button {
  border:1px solid rgb(222, 222, 222);
  background-color: rgb(222, 222, 222);
  padding: 3px;
  border-radius: 10%;
  color: rgb(76, 76, 76);
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.4em 0.5em 0.4em 0.5em;
  margin: 0.5em;
}

input {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 3px;
}

/* EXPENSE FORM  */

#new-expense-form-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

#new-expense-form-container form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 30%;
  margin-top: 3em;
  font-weight: bold;
}

#new-expense-form-container form input {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
  height: 35px;
}

#new-expense-form-container form select {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
  height: 35px;
  border: 1px solid rgb(189, 189, 189);
}

#new-expense-form-container form input[type=submit]:hover {
  background-color: rgb(189, 189, 189);
 }

#new-expense-form-container form input[type=submit] {
 background-color: rgb(219, 219, 219);
 border: none;
}

#new-expense-form-container h1 {
  font-style: italic;
  margin: 1em 0 -0.01em 0;
  font-size: 3em;
}

#new-expense-form-container h4 {
  font-style: italic;
  font-size: 1em;
  color:rgb(99, 99, 99);
  margin: 0 0 1em 0;
}

#new-expense-form-container h4:hover {
  color:rgb(218, 155, 30);
}


/* EXPENSE PAGE */

#all-expense-table {
  margin-bottom: 30px;
}

#all-expense-table h1 {
  font-style: italic;
  text-align: center;
  font-size: 3em;
  margin: 1em 0 1em 0;
}

/* LOGIN PAGE  */

#login-p {
  font-style: italic;
  text-align: center;
  color: grey;
  margin: -1em 0 2em 0;
  font-size: 0.7em;
}